.state-playlist-bottom {
    margin-top: -59px;
    transform: translateY(100%);
}

.state-playlist-bottom-active {
    transform: translateY(0%);
    z-index: 11;
    margin-top: 0px;
}

.state-playlist-bottom-disactive {
    margin-top: 60px;
}

.top-panel-text {
    font-family: Roboto;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 400;
    margin: 0px auto;
    display: block;
    text-align: center;
    padding-top: 15px;
}